.arbo-wrapper {
  position: relative;
  display: flex;
}
.arbo-wrapper .svg-bg {
  /* TEMPORARY */
  top: -10px;
  left: -13%;
  /* TEMPORARY */
  position: absolute;
  z-index: 99;
  width: 100%;
}
.arbo-wrapper .svg-bg line {
  stroke: darkred;
}
.arbo-wrapper .tree-menu {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.arbo-wrapper .tree-menu > li > span:before {
  content: none;
}

.organizational-chart {
  width: 100%;
}

ul.organizational-chart,
ul.organizational-chart ul,
ul.organizational-chart li,
ul.organizational-chart li > span {
  position: relative;
}

ul.organizational-chart,
ul.organizational-chart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.organizational-chart {
  text-align: center;
}

ul.organizational-chart ul {
  padding-top: 1em;
}

ul.organizational-chart ul:before,
ul.organizational-chart ul:after,
ul.organizational-chart li:before,
ul.organizational-chart li:after,
ul.organizational-chart > li > span:before,
ul.organizational-chart > li > span:after {
  background-color: #b7a6aa;
  content: "";
  position: absolute;
}

ul.organizational-chart ul > li {
  padding: 1em 0 0 1em;
}

ul.organizational-chart > li ul:before {
  height: 1em;
  left: 50%;
  top: 0;
  width: 3px;
}

ul.organizational-chart > li ul:after {
  height: 3px;
  left: 3px;
  top: 1em;
  width: 50%;
}

ul.organizational-chart > li ul > li:not(:last-of-type):before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ul.organizational-chart > li ul > li:not(:last-of-type):after {
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
}

ul.organizational-chart > li ul > li:last-of-type:before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ul.organizational-chart > li ul > li:last-of-type:after {
  height: 2em;
  left: 0;
  top: 0;
  width: 3px;
}

ul.organizational-chart li > span {
  background-color: #fff;
  border-radius: 3px;
  min-height: 2em;
  padding: 0.5em;
  display: block;
}

/*** PRIMARY ***/
ul.organizational-chart > li > span {
  background-color: #a2ed56;
  margin-right: 1em;
}

ul.organizational-chart > li > span:before {
  bottom: 2em;
  height: 3px;
  right: -1em;
  width: 1em;
}

ul.organizational-chart > li > span:first-of-type:after {
  bottom: 0;
  height: 2em;
  right: -1em;
  width: 3px;
}

ul.organizational-chart > li > span + span {
  margin-top: 1em;
}

ul.organizational-chart > li > span + span:after {
  height: calc(100% + 1em);
  right: -1em;
  top: -1em;
  width: 3px;
}

/*** SECONDARY ***/
ul.organizational-chart > li > ul:before {
  left: inherit;
  right: 0;
}

ul.organizational-chart > li > ul:after {
  left: 0;
  width: 100%;
}

ul.organizational-chart > li > ul > li > span {
  background-color: #83e4e2;
}

/*** TERTIARY ***/
ul.organizational-chart > li > ul > li > ul > li > span {
  background-color: #fd6470;
}

/*** QUATERNARY ***/
ul.organizational-chart > li > ul > li > ul > li > ul > li > span {
  background-color: #fca858;
}

/*** QUINARY ***/
ul.organizational-chart > li > ul > li > ul > li > ul > li > ul > li > span {
  background-color: #fddc32;
}

@media only screen and (min-width: 64em) {
  ul.organizational-chart {
    margin-left: -1em;
    margin-right: -1em;
  }

  /* PRIMARY */
  ul.organizational-chart > li > span {
    display: inline-block;
    float: none;
    margin: 0 1em 1em 1em;
    vertical-align: bottom;
  }

  ul.organizational-chart > li > span:only-of-type {
    margin-bottom: 0;
    width: calc((100% / 1) - 2em - 4px);
  }

  ul.organizational-chart > li > span:first-of-type:nth-last-of-type(2),
ul.organizational-chart > li > span:first-of-type:nth-last-of-type(2) ~ span {
    width: calc((100% / 2) - 2em - 4px);
  }

  ul.organizational-chart > li > span:first-of-type:nth-last-of-type(3),
ul.organizational-chart > li > span:first-of-type:nth-last-of-type(3) ~ span {
    width: calc((100% / 3) - 2em - 4px);
  }

  ul.organizational-chart > li > span:first-of-type:nth-last-of-type(4),
ul.organizational-chart > li > span:first-of-type:nth-last-of-type(4) ~ span {
    width: calc((100% / 4) - 2em - 4px);
  }

  ul.organizational-chart > li > span:first-of-type:nth-last-of-type(5),
ul.organizational-chart > li > span:first-of-type:nth-last-of-type(5) ~ span {
    width: calc((100% / 5) - 2em - 4px);
  }

  ul.organizational-chart > li > span:before,
ul.organizational-chart > li > span:after {
    bottom: -1em !important;
    top: inherit !important;
  }

  ul.organizational-chart > li > span:before {
    height: 1em !important;
    left: 50% !important;
    width: 3px !important;
  }

  ul.organizational-chart > li > span:only-of-type:after {
    display: none;
  }

  ul.organizational-chart > li > span:first-of-type:not(:only-of-type):after,
ul.organizational-chart > li > span:last-of-type:not(:only-of-type):after {
    bottom: -1em;
    height: 3px;
    width: calc(50% + 1em + 3px);
  }

  ul.organizational-chart > li > span:first-of-type:not(:only-of-type):after {
    left: calc(50% + 3px);
  }

  ul.organizational-chart > li > span:last-of-type:not(:only-of-type):after {
    left: calc(-1em - 3px);
  }

  ul.organizational-chart > li > span + span:not(:last-of-type):after {
    height: 3px;
    left: -2em;
    width: calc(100% + 4em);
  }

  /* SECONDARY */
  ul.organizational-chart > li > ul {
    display: flex;
    flex-wrap: nowrap;
  }

  ul.organizational-chart > li > ul:before,
ul.organizational-chart > li > ul > li:before {
    height: 1em !important;
    left: 50% !important;
    top: 0 !important;
    width: 3px !important;
  }

  ul.organizational-chart > li > ul:after {
    display: none;
  }

  ul.organizational-chart > li > ul > li {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }

  ul.organizational-chart > li > ul > li:only-of-type {
    padding-top: 0;
  }

  ul.organizational-chart > li > ul > li:only-of-type:before,
ul.organizational-chart > li > ul > li:only-of-type:after {
    display: none;
  }

  ul.organizational-chart > li > ul > li:first-of-type:not(:only-of-type):after,
ul.organizational-chart > li > ul > li:last-of-type:not(:only-of-type):after {
    height: 3px;
    top: 0;
    width: 50%;
  }

  ul.organizational-chart > li > ul > li:first-of-type:not(:only-of-type):after {
    left: 50%;
  }

  ul.organizational-chart > li > ul > li:last-of-type:not(:only-of-type):after {
    left: 0;
  }

  ul.organizational-chart > li > ul > li + li:not(:last-of-type):after {
    height: 3px;
    left: 0;
    top: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
